doctype html
html(ng-app="BustrapApp")
  head
    script(src="javascripts/angular.min.js")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Sitio externo del Gobierno de la Ciudad de Buenos Aires.')
    meta(name='author', content='Gobierno de la Ciudad de Buenos Aires')
    title Gobierno de la Ciudad de Buenos Aires
    link(rel='shortcut icon', href='bastrap3/favicon.ico')
    link(rel='apple-touch-icon-precomposed', href='bastrap3/favicon-mobile.png')
    link(rel='stylesheet', href='bastrap3/bootstrap.min.css')
    link(rel='stylesheet', href='bastrap3/bastrap.css')
    script(src='javascripts/jquery-1.11.3.min.js')
    script(src='bastrap3/bootstrap.min.js')
    script(src='javascripts/jquery.playSound.js')
    script(src='javascripts/notify.js')
    script(src='/javascripts/comportamiento.js')
  body
    block content
